#jinja2: trim_blocks: "true", lstrip_blocks: "true"
{% macro insert_field_if_exists(label, value) -%}
  {%- if value is defined -%}
    {{ label }}={{ value }}
  {%- endif %}
{%- endmacro -%}

[Unit]
{{ insert_field_if_exists('Description', item.static.Description) }}
{{ insert_field_if_exists('Documentation', item.static.Documentation) }}
{{ insert_field_if_exists('Requires', item.static.Requires) }}
{{ insert_field_if_exists('After', item.static.After) }}

[Service]
{{ insert_field_if_exists('Type', item.static.Type) }}
{{ insert_field_if_exists('User', item[appEnv].User) }}
{{ insert_field_if_exists('Group', item[appEnv].Group) }}
{{ insert_field_if_exists('EnvironmentFile', item.static.EnvironmentFile) }}
ExecStart={{ dir_path }}/kafka-server-start {{ common.confluent.conf_dest }}/server.properties
ExecStop={{ dir_path }}/kafka-server-stop
TimeoutStopSec=180
{% for key, value in kafka.environment[appEnv].items() %}
Environment="{{key}}={{value}}"
{% endfor %}


[Install]
{{ insert_field_if_exists('WantedBy', item.static.WantedBy) }}

